<!--register form-->
<form id="registerForm" action="#something" class="form-container" method="POST">
    <div class="container">
        <div class="sign-up-box">
            <legend class=sign-up>Sigh Up</legend>
            <hr />
            <label for="username">User Name</label><span class="required">*</span>
            <input type="text" placeholder="Enter Full Name" name="username" id="username" required />

            <label for="email">Email</label><span class="required">*</span>
            <input type="text" id="email" name="email" placeholder="Enter Your Email please." pattern="[^@\s]+@[^@\s]+" title="Invalid email address" required/>


            <label for="psw">Password</label><span class="required">*</span>
            <input type="password" placeholder="Enter Password" name="initial-password" id="initial-password" pattern=".{8,}" required title="8 characters minimum" required/>

            <label for="psw-repeat">Repeat Password</label><span class="required">*</span>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required />
            <hr />
            <p>Subscribe to Newsletter</p>
            <button type="Submit" class="registerbtn">Register</button>
        </div>
    </div>
    <div class="container">
        <div class="signin">
            <p>Already have an account?<a href="/login">Sign in</a>.</p>
        </div>
    </div>
</form>