<!--mian header section-->
<nav>
    <!--company logo and icon-->
    <a href="/" class="company-title-btn">
        <div class="company-title">
            <img class="icon" src="https://image.flaticon.com/icons/svg/2932/2932345.svg" alt="company icon" />
            <h3>Travel Expert</h3>
        </div>
    </a>
    <!--navigation bar-->
    <div>
        <div class="ham-menu">
            <button id="menu-btn" class="ham-btn">Menu</button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/#gallery1">Destinations</a>
                <a href="/#contact">Contact Us</a>
                <a href="/login">Login</a>
                <a href="/register" class="current">Sign Up</a>
            </div>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#gallery1">Destinations</a></li>
            <li><a href="/#contact">Contact Us</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
        </ul>
    </div>
</nav>