/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body {
    margin: 0;
    font-family: "PT Serif", serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    background-color: rgb(255, 250, 250);
}


/* Home Page main header section */

nav {
    display: flex;
    width: 100%;
    background-color: lightseagreen;
    justify-content: space-between;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: lightseagreen;
}

nav li a {
    padding: 1.3em;
    display: block;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-image: linear-gradient(green, pink);
}

nav a:active {
    background-image: linear-gradient(rebeccapurple, lightgrey);
}

.ham-menu {
    display: none;
}

.visible {
    position: absolute;
    top: 60px;
    right: 0px;
    display: flex !important;
    flex-direction: column;
}

h1,
h2 {
    margin: 0;
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
}

.company-title-btn {
    color: white;
    text-decoration: none;
}

.company-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.icon {
    width: 30%;
    height: 40%;
}

@media (orientation: portrait) {
    nav ul {
        display: none;
    }
    .ham-menu {
        display: flex;
    }
    .ham-btn {
        height: 60px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
}


/* Home Page hero section */

.heroSection {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://picsum.photos/id/501/1000/500");
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    margin: 20px 0;
}

.agency-contact-info {
    text-align: left !important;
}

.btn-signup {
    display: inline-block;
    border-radius: 10px;
    background-color: red;
    padding: 10px 15px;
    color: white;
    margin-top: 40px;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
}

.btn-signup:hover {
    background-image: linear-gradient(green, pink);
}

.contactUs {
    justify-content: center;
    float: right;
    box-sizing: border-box;
    width: 20%;
}

fieldset {
    border-radius: 20px;
    background-image: linear-gradient(#e7f8e5 10%, #e1f0d8 90%);
    max-width: 20em;
}

fieldset legend {
    font: bold 20px "galada";
    color: rgb(47, 85, 35);
}

fieldset input[type="text"] {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    box-sizing: border-box;
}

fieldset input[type="submit"] {
    background-color: rgb(37, 88, 57);
    color: white;
    font: bold 15px "galada";
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

fieldset input[type="submit"]:hover {
    background-color: #4caf50;
}

label {
    font-size: 15px;
}


/* Home Page gallery section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2000px;
    margin: auto;
}

.gallery img {
    margin: 0.5em;
}

figcaption {
    font-size: 24px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: auto;
}


/* Footer Section */

footer {
    margin: 0;
    padding: 1em;
    text-align: center;
    background-color: grey;
    color: white;
}